@import './mediaQuery.scss';

.base {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 0;

    @include mq(sm) {
        top: 24px;
        left: 12px;
        right: 12px;
        margin-bottom: 24px;
    }

    @include mq(lg) {
        top: 40px;
        left: 40px;
        right: 40px;
        margin-bottom: 40px;
    }
}

.overlay {
    position : fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}